html, body {height:100%;}

body {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}
#wrap {
    overflow: hidden;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 0.6s;
    animation-fill-mode: both;
}