html, body {height:100%;}

body {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}
#wrap {
    overflow: hidden;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}
