#footer {
  padding-top: 100px;
  background-color: #353535;
  .container {
    display: flex;
    @include screen-sm {
      flex-direction: column;
    }
    .item {
      flex: 25%;
      padding: 15px;
      @include screen-sm {
        padding-bottom: 100px;
      }
      p {
        color: #ddd;
        font-size: 15px;
        line-height: 1.5;
        font-weight: 400;
      }
      h4 {
        color: #ddd;
        font-weight: 600;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &:after {
          content: '';
          width: 50px;
          height: 3px;
          background: #3498db;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
    .score {
      @include screen-sm {
        padding-bottom: 100px;
      }
      a.btn {
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-color: #3498db;
        border-radius: 5px;
        color: #fff;
        margin-top: 20px;
        font-size: 14px;
        transition: .5s;
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, .1);
        }
      }
    }

    .links {
      ul {
        margin-top: 12px;
        li {
          border-bottom: 1px solid #999;
          a {
            display: inline-block;
            color: #ddd;
            padding: 10px 0;
            font-size: 14px;
          }
        }
      }
    }

    .projects {
      .gallery {
        display: flex;
        flex-wrap: wrap;
        li {
          flex: 33.333%;
          max-width: 33.333%;
          padding: 5px;
        }
      }
      .popup {
        position: fixed;
        z-index: 1000;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        i {
          position: absolute;
          top: 50%;
          font-size: 50px;
          color: #fff;
          cursor: pointer;
          &.fa-chevron-left {
            left: 5%;
          }
          &.fa-chevron-right {
            right: 5%;
          }
        }
        .pagination {
          position: absolute;
          bottom: 20%;
          left: 50%;
          transform: translateX(-50%);
          color: #fff;
        }
      }
    }

    .contact {
      .info {
        color: #ddd;
        margin-top: 15px;
        font-size: 14px;
        > div {
          margin-top: 10px;
          i {
            margin-right: 10px;
            font-size: 20px;
            color: #ddd;
          }
          a {
            color: #ddd;
            &:hover {
              color: #0088cc;
            }
          }
        }
      }
    }
  }

  .bottom-footer {
    padding: 20px 0;
    background-color: #353535;
    color: #999;
    @include screen-sm {
      padding-bottom: 100px;
    }
    .container {
      border-top: 1px dotted #999;
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      @include screen-sm {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .by {
        display: flex;
        align-items: center;
      }
      .sns-icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span {
          padding-bottom: 5px;
          margin-right: 3px;
          border-bottom: 1px solid #7c8595;
        }
        a {
          padding: 5px;
          font-size: 25px;
          color: #ddd;
          .fa-twitter {
            &:hover {
              color: #4099ff;
            }
          }
          .fa-pinterest {
            &:hover {
              color: #C92228;
            }
          }
          .fa-facebook {
            &:hover {
              color: #3b5998;
            }
          }
          .fa-instagram {
            &:hover {
              color: #6dc993;
            }
          }
          .fa-skype {
            &:hover {
              color: #00aff0;
            }
          }
        }
      }
    }
  }
}


