#footer {
  .main-footer {
    padding: 100px 0;
    background-color: #353535;
    .container {
      display: flex;
      @include screen-sm {
          flex-direction: column;
      }
      .footer-item {
        flex: 1 1 25%;
        margin-left: 20px;
        @include screen-sm {
          padding-bottom: 100px;
        }
        p {
          color: #ddd;
          line-height: 1.5;
        }
        h3 {
          color: #ddd;
          font-weight: 600;
          position: relative;
          padding-bottom: 20px;
          margin-bottom: 20px;
          &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            width: 50px;
            height: 3px;
            background: #3498db;
            display: inline-block;
          }
        }
      }
      .score {
        @include screen-sm {
          padding-bottom: 100px;
        }
        .score-btn {
          width: 160px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px;
          background-color: #3498db;
          border-radius: 5px;
          color: #ddd;
          margin-top: 20px;
          &:hover {
            background-color: rgba(0,0,0, .1);
          }
        }
      }
      .links {
        ul {
          margin-top: 12px;
          li {
            border-bottom: 1px solid #999;
            a {
              display: inline-block;
              color: #fff;
              padding: 10px 0;
            }
          }
        }
      }
      .project {
        @include screen-sm {
          padding-bottom: 100px;
        }
        .gallery {
          display: flex;
          flex-wrap: wrap;
          @include screen-sm {
              flex-wrap: nowrap;
          }
          li {
            flex: 1 1 33.333%;
            max-width: 33.333%;
            a {
              display: flex;
              border: 3px solid #555;
              margin-left: 8px;
              margin-top: 8px;
            }
          }
        }
        .lightbox-overlay {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.7);
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 40px;
          display: flex;
          opacity: 0;
          transition: opacity 2s;
          z-index: -1;
          &.visible {
            opacity: 1;
            z-index: 1000;
          }
        }
      }
      .contact {
        @include screen-sm {
          padding-bottom: 50px;
        }
        .info {
          color: #ddd;
          margin-top: 15px;
          font-size: 14px;
          >div {
            margin-top: 10px;
            i {
              margin-right: 10px;
              font-size: 20px;
              color: #ddd;
            }
            a {
              color: #ddd;
              &:hover {
                color: #0088cc;
              }
            }
          }
        }
      }
    }
  }
  .bottom-footer {
    @include screen-sm {
      padding-bottom: 100px;
    }
    padding: 20px 0;
    background-color: #353535;
    color: #999;
    .container {
      border-top: 1px dotted #999;
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      @include screen-sm {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .by {
        flex: 1;
        display: flex;
        align-items: center;
      }
      .top-btn {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @include screen-sm {
          margin: 20px 0;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 42px;
          padding: 15px;
          background-color: #353535;
          border-radius: 5px;
          border: 1px solid #999;
          i {
            color: #999;
            font-size: 20px;
          }
          &:hover {
            background-color: #3498db;
            border: 1px solid #3498db;
            i {
              color: #fff;
            }
          }
        }
      }
      .sns-icon {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span {
          padding-bottom: 5px;
          margin-right: 3px;
          border-bottom: 1px solid #7c8595;
        }
        a {
          padding: 5px;
          font-size: 25px;
          color: #ddd;
          .fa-twitter {
            &:hover {
              color: #08c;
            }
          }
          .fa-pinterest {
            &:hover {
              color: #cc0041;
            }
          }
          .fa-facebook {
            &:hover {
              color: #000acc;
            }
          }
          .fa-instagram {
            &:hover {
              color: #be00cc;
            }
          }
          .fa-skype {
            &:hover {
              color: #08c;
            }
          }
        }
      }
    }
  }
}


