#header {
  .top-header {
    background-color: #343434;
    height: 41px;
    overflow: hidden;
    @include screen-sm {
      display: none;
    }
    .container {
      display: flex;
      justify-content: space-between;
    }
    .sns-links {
      display: flex;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 41px;
        width: 42px;
        color: #dedede;
        font-size: 17px;
        border-right: 1px solid rgba(182, 180, 180, 0.33);
        &.twitter {
          &:hover {
            background-color: #4099ff;
          }
        }
        &.pinterest {
          &:hover {
            background-color: #C92228;
          }
        }
        &.facebook {
          &:hover {
            background-color: #3b5998;
          }
        }
        &.instagram {
          &:hover {
            background-color: #6dc993;
          }
        }
        &.skype {
          &:hover {
            background-color: #00aff0;
          }
        }
      }
    }
  }
  .contact {
    display: flex;
    align-items: center;
    color: #fff;
    >div {
      margin-left: 30px;
      font-size: 14px;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }
  }

  .main-header {
    position: relative;
    .container {
      height: 85px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .main-logo {
      img {
        width: 171px;
        height: 45px;
        object-fit: cover;
      }
    }
    nav {
      display: flex;
      @include screen-sm {
        position: fixed;
        top: 85px;
        left: 0;
        right: 0;
        z-index: 100;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        display: none;
      }
      .nav-item {
        a.nav-name {
          display: flex;
          padding: 20px;
          color: #2F362F;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          i {
            margin-left: 3px;
          }
          &:hover {
            color: #3498db;
          }
        }
        .dropdown {
          position: absolute;
          top: 85px;
          z-index: 100;
          background-color: #fff;
          border-radius: 0 0 3px 3px;
          box-shadow: 1px 0 12px 1px rgba(0, 0, 0, .06);
          display: none;
          @include screen-sm {
            position: static;
            box-shadow: none;
          }
          ul {
            display: flex;
            @include screen-sm {
              flex-direction: column;
            }
            li {
              padding: 20px;
              &:last-child {
                margin-left: 50px;
                @include screen-sm {
                  margin-left: 0;
                }
              }
              .sub-category {
                h5 {
                  color: #2F362F;
                  font-size: 16px;
                  font-weight: 500;
                  margin-bottom: 10px;
                }
                p {
                  color: #7c8595;
                  font-size: 13px;
                  font-weight: 400;
                  margin-bottom: 15px;
                }
                a {
                  display: flex;
                  color: #898989;
                  font-size: 13px;
                  padding: 7px 0;
                  i {
                    margin-right: 5px;
                  }
                  &:hover {
                    color: #3498db;
                  }
                }
              }
            }
          }
        }
        .small {
          width: 200px;
          @include screen-sm {
            width: 100%;
          }
          ul {
            li {
              padding: 0;
              &:last-child {
                margin-left: 0;
              }
              .sub-category {
                a {
                  width: 200px;
                  height: 41px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-bottom: 1px solid rgba(124, 133, 149, 0.28);
                  &:last-child {
                    border: none;
                  }
                  @include screen-sm {
                    width: 100%;
                    justify-content: flex-start;
                    padding-left: 20px;
                  }
                }
              }
            }
          }
        }
        &:hover {
          .dropdown {
            display: block;
          }
        }
      }
    }
    .btn-menu {
      cursor: pointer;
      font-size: 25px;
      display: none;
      @include screen-sm {
        display: block;
      }
    }
  }
}

