#header {
  .top-header {
    background-color: #343434;
    height: 41px;
    overflow: hidden;
    @include screen-sm {
      display: none;
    }
    .container {
      display: flex;
      justify-content: space-between;
    }
    .sns-links {
      display: flex;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 41px;
        width: 42px;
        color: #dedede;
        font-size: 17px;
        border-right: 1px solid rgba(182, 180, 180, 0.33);
        &.twitter {
          &:hover {
            background-color: #08c;
          }
        }
        &.pinterest {
          &:hover {
            background-color: #cc0041;
          }
        }
        &.facebook {
          &:hover {
            background-color: #000acc;
          }
        }
        &.instagram {
          &:hover {
            background-color: #be00cc;
          }
        }
        &.skype {
          &:hover {
            background-color: #08c;
          }
        }
      }
    }
  }
  .contact {
    display: flex;
    align-items: center;
    color: #fff;
    >div {
      margin-left: 30px;
      font-size: 14px;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }
  }

  .main-header {
    position: relative;
    .container {
      @include screen-sm {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85px;
        @include screen-sm {
            position: static;
        }
        ul {
          display: flex;
          @include screen-sm {
            position: absolute;
            top: 85px;
            left: 0;
            right: 0;
            z-index: 2;
            flex-direction: column;
            justify-content: center;
            background-color: #fff;
            display: none;
          }
          .nav-item {
            .nav-name {
              display: flex;
              align-items: center;
              padding: 20px;
              font-size: 1.2em;
              font-weight: 500;
              cursor: pointer;
              .icon {
                display: flex;
                margin-left: 10px;
              }
            }
          }
        }
      }
      .header-logo {
        img {
          height: 45px;
        }
      }
    }
    .nav-dropdown {
      position: absolute;
      top: 85px;
      z-index: 1;
      background-color: #fff;
      box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.22);
      opacity: 0;
      &.active  {
        opacity: 1;
      }
      ul {
        display: flex;
        flex-direction: column;
        li {
          color: #333;
          padding: 10px 0;
          cursor: pointer;
          i {
            margin-right: 10px;
          }
          &:hover {
            color: #0088cc;
          }
        }
      }
      &.v1 {
        right: 120px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        .nav-dropdown-item1 {
          margin-right: 30px;
        }
        ul {
          padding-top: 20px;
        }
        p {
          font-weight: 600;
          line-height: 1.5;
        }
      }
      &.v2 {
        ul {
          li {
            border-bottom: 1px solid #333;
            padding: 20px;
          }
        }
      }
    }
    .btn-menu {
      padding: 10px 15px;
      font-size: 22px;
      display: none;
      @include screen-sm {
        display: block;
      }
    }
  }
}

