//.container {
//  background-color: rgba(0,0,0,0.3);
//}
#header {
  .top-header {
    background-color: #343434;
    height: 41px;
    overflow: hidden;
    @include screen-sm {
      display: none;
    }

    .container {
      display: flex;
      justify-content: space-between;
    }

    .sns-links {
      display: flex;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 41px;
        width: 42px;
        color: #dedede;
        font-size: 17px;
        border-right: 1px solid rgba(182, 180, 180, 0.33);

        &.twitter {
          &:hover {
            background-color: #08c;
          }
        }
        &.pinterest {
          &:hover {
            background-color: #cc0041;
          }
        }
        &.facebook {
          &:hover {
            background-color: #000acc;
          }
        }
        &.instagram {
          &:hover {
            background-color: #be00cc;
          }
        }
        &.skype {
          &:hover {
            background-color: #08c;
          }
        }
      }
    }
  }
  .contact {
    display: flex;
    align-items: center;
    color: #fff;
    >div {
      margin-left: 30px;
      font-size: 14px;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }
  }

  .main-header {
    height: 85px;
    @include screen-sm {
      height: 76px;
    }
    .container {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
    }
    .logo {
      width: 172px;
      display: flex;
      align-items: center;
    }

    nav {
      @include screen-sm {
        display: none;
      }
      ul {
        display: flex;
        .nav-item {
          position: relative;
          .nav-link {
            display: flex;
            align-items: center;
            height: 85px;
            color: #333;
            font-weight: 500;
            padding: 0 15px;
            &:hover {
              color: #08c;
            }
            .icon {
              margin-left: 5px;
              &.show {
                .fa-caret-up {
                  display: block;
                }
                .fa-caret-down {
                  display: none;
                }
              }
              .fa-caret-up {
                display: none;
              }
            }
          }
          .links {
            background-color: #fff;
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            a {
              width: 123px;
              height: 36px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-bottom: 1px solid #ddd;
              color: #333;
              &:hover {
                color: #08c;
              }
            }
          }
        }
      }
    }
    .btn-menu {
      padding: 10px 15px;
      font-size: 22px;
      display: none;
      @include screen-sm {
        display: block;
      }
    }
  }
}

