.visual {
  .item {
    &.background1 {
      background-color: rgb(52, 152, 219);
    }
    &.background2 {
      background-color: rgb(60, 192, 122);
    }
    &.background3 {
      background-color: rgb(45, 62, 80);
    }
    .container {
      height: 500px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .description {
      color: #fff;
      h1 {
        font-size: 38px;
        font-weight: 500;
        margin-bottom: 30px;
        opacity: 0;
      }
      p {
        width: 473px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 30px;
        opacity: 0;
        animation-delay :0.2s
      }
      .btn {
        width: 163px;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 16px 35px;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
        transition: .5s;
        opacity: 0;
        &:hover {
          background-color: #686868;
        }
      }
    }
    img {
      opacity: 0;
      @include screen-sm {
        display: none;
      }
    }
    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(40px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
    .fadeInUp {
      animation-name: fadeInUp;
      animation-duration: 0.6s;
      animation-fill-mode: both;
    }

  }
  .slick-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    right: 30px;

    li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid #fff;
      margin-bottom: 10px;

      &.slick-active {
        background: #fff;
      }
    }

    button {
      display: none;
    }
  }
}

.sponsors {
  background-color: #f6f7f8;
  .logo {
    display: flex;
    height: 151px;
    justify-content: center;
    align-items: center;
    @include screen-sm {
      flex-direction: column;
      height: 100%;
    }
    a {
      display: flex;
      margin: 10px 23px;
      width: 154px;
      height: 70px;
      opacity: 0.5;
      transition: .5s;
      &:hover {
        opacity: 1
      }
    }
  }
}

.features {
  padding: 100px 0;
  p.normal {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #7c8595;
  }
  .title {
    text-align: center;
    margin-bottom: 15px;
    h2 {
      color: #2F362F;
      font-weight: 500;
      font-size: 32px;
      margin-bottom: 15px;
    }
  }

  ul {
    display: flex;
    @include screen-sm {
      flex-direction: column;
    }
    li {
      flex: 33.333%;
      padding: 15px;
    }
  }
  .item {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    img {
      border-radius: 50%;
    }
    h3 {
      margin: 20px 0;
      font-size: 20px;
      color: #2F362F;
      font-weight: 500;
    }
  }
}

.video {
  background-color: #f6f7f8;
  padding: 90px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include screen-sm {
      flex-direction: column;
    }
  }
  .panel {
    width: 570px;
    margin-left: 20px;
    .item {
      .que {
        height: 52px;
        display: flex;
        align-items: center;
        color: #656565;
        font-weight: 500;
        font-size: 16px;
        border-bottom: 1px solid rgba(90, 84, 84, 0.07);
        padding: 0 20px;
        cursor: pointer;
        &:hover {
          background-color: rgba(90, 84, 84, 0.07);
        }
        i {
          margin-right: 14px;
          color: #666;
          font-size: 20px;
        }
      }
      .answer {
        padding: 15px;
        border-top: 3px solid #3498db;
        display: none;
        p.normal {
          font-size: 16px;
          line-height: 1.5;
          font-weight: 400;
          color: #7c8595;
        }
      }
    }
  }
}

.project {
  background-color: #393f43;
  padding: 90px 0;
  .title {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
    h2 {
      font-size: 32px;
      color: #ddd;
      font-weight: 500;
      margin-bottom: 15px;
    }
    p.normal {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: #ddd;
    }
  }
  .slider {
    position: relative;
    padding: 15px;
    .slick-dots {
      position: absolute;
      display: flex;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      li {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #e0e0e0;
        margin-left: 10px;
        &.slick-active {
          background-color: #3498db;
        }
      }
      button {
        display: none;
      }
    }
    .item {
      padding: 15px;
      .thumb {
        position: relative;
        img {
          border-radius: 5px 5px 0 0;
          width: 100%;
        }
        .screen {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, .8);
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 40px;
          border-radius: 5px 5px 0 0;
          opacity: 0;
          transition: .4s;
        }
        &:hover {
          .screen {
            opacity: 1;
          }
        }
      }
      .description {
        text-align: center;
        padding: 10px;
        background-color: #fff;
        border-radius: 0 0 5px 5px;
        h3 {
          color: #454545;
          font-size: 18px;
          font-weight: 500;
          &:hover {
            color: #3498db;
          }
        }
        p {
          padding: 10px 0;
          color: #7c8595;
          font-style: italic;
        }
      }
    }
  }
}

.facts {
  background-color: #2f3539;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include screen-sm {
      flex-direction: column;
    }
    li {
      flex: 1 1 25%;
      padding: 45px 30px;
    }
  }
  .item {
    text-align: center;
    i {
      color: #3498db;
      font-size: 45px;
    }
    p.bold {
      font-size: 28px;
      font-weight: 600;
      color: #ddd;
      padding: 10px 0;
    }
    p {
      font-style: italic;
      color: #bbb;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.amazing-features {
  background-color: #f6f7f8;
  padding: 90px 0;
  .title {
    text-align: center;
    h2 {
      font-size: 32px;
      color: #2F362F;
      font-weight: 500;
      margin-bottom: 15px;
    }
    p.normal {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: #7c8595;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    li {
      flex: 33.33333%;
      padding: 15px;
      @include screen-sm {
        flex: 1 1 100%;
      }
    }
  }
  .item {
    text-align: center;
    padding: 10px;
    h3 {
      font-size: 20px;
      font-weight: 500;
      margin: 15px 0;
      color: #2F362F;
    }
    p {
      font-size: 15px;
      font-weight: 400;
      color: #7c8595;
      line-height: 1.5;
    }
  }
}

.clients {
  background-color: #3498db;
  padding: 90px 0;
  .title {
    color: #fff;
    text-align: center;
    h2 {
      font-size: 32px;
      color: #fff;
      font-weight: 500;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: #fff;
    }
  }
  ul {
    display: flex;
    @include screen-sm {
      flex-wrap: wrap;
    }
    li {
      flex: 33.3333%;
      padding: 15px;
      @include screen-sm {
        flex: 100%;
      }
    }
  }
  .item {
    margin-top: 30px;
    .text-box {
      background-color: #fff;
      border-radius: 5px;
      &.speech-bubble {
        position: relative;
        background: #fff;
        border-radius: .4em;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 10%;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-top-color: #ffffff;
          border-bottom: 0;
          margin-left: -20px;
          margin-bottom: -10px;
        }
      }
      p.normal {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        color: #7c8595;
        padding: 30px;
      }
    }
    .user {
      display: flex;
      align-items: center;
      margin-top: 20px;
      img {
        border-radius: 50%;
        border: 5px solid #fff;
      }
      p {
        color: #fff;
        font-size: 16px;
        line-height: 1.5;
        margin-left: 15px;
        em {
          font-weight: 500;
        }
      }
    }
  }
}

.news {
  padding: 90px 0;
  color: #454545;
  .title {
    text-align: center;
    h2 {
      font-size: 32px;
      color: #2F362F;
      font-weight: 500;
      margin-bottom: 15px;
    }
    p.normal {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: #7c8595;
    }
  }
  ul {
    display: flex;
    @include screen-sm {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    li {
      flex: 33.3333%;
      padding: 15px;
    }
  }
  .item {
    margin-top: 35px;
    background-color: #f6f7f8;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.2);
    a {
      display: flex;
      position: relative;
      &:hover {
        .screen {
          opacity: 1;
        }
      }
    }
    .screen {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, .6);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 40px;
      transition: .6s;
      opacity: 0;
    }
    .description {
      padding: 20px;
      h3 {
        color: #454545;
        font-weight: 600;
        margin-bottom: 20px;
        &:hover {
          color: #3498db;
        }
      }
      .tags {
        display: flex;
        font-size: 14px;
        .fa-user {
          display: flex;
          color: #656565;
        }
        .fa-tags {
          position: relative;
          margin-left: 20px;
          color: #656565;
          &:after {
            position: absolute;
            top: 0;
            right: 10px;
            content: '';
            width: 1px;
            height: 14px;
            background-color: #656565;
            margin: 0 13px;
          }
        }
        a {
          color: #7c8595;
          font-style: italic;
          padding-left: 4px;
          &:hover {
            color: #3498db;
          }
        }
      }

      p {
        font-size: 15px;
        line-height: 1.5;
        font-weight: 400;
        color: #7c8595;
        margin: 20px 0 30px 0;
      }
    }
  }

}

.team {
  background-color: #393f43;
  padding: 90px 0;
  .title {
    text-align: center;
    h2 {
      font-size: 32px;
      color: #ddd;
      font-weight: 500;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: #ddd;
    }
  }
  ul {
    display: flex;
    @include screen-sm {
      flex-direction: column;
    }
    li {
      flex: 33.3333%;
      padding: 15px;
    }
  }
  .item {
    margin-top: 20px;
    text-align: center;
    padding: 30px;
    img {
      border-radius: 50%;
      border: 5px solid #ddd;
    }
    .name {
      position: relative;
      text-align: center;
      padding: 20px 0;
      color: #ddd;
      &:after {
        content: '';
        width: 50px;
        height: 3px;
        background: #3498db;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
      }
      h3 {
        font-size: 18px;
        color: #ddd;
        font-weight: 600;
        margin-bottom: 10px;
      }
      em {
        font-style: italic;
        color: #ccc;
        font-size: 15px;
      }
    }
    p {
      color: #ccc;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.5;
      margin-top: 20px;
    }
    .sns-icon {
      display: flex;
      justify-content: center;
      margin: 20px 0 0 6px;
      @include screen-sm {
        padding-bottom: 30px;
      }
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        color: #fff;
        margin-right: 6px;
        &.twitter {
          background-color: #4099ff;
        }
        &.pinterest {
          background-color: #C92228;
        }
        &.facebook {
          background-color: #3b5998;
        }
        &.dribbble {
          background-color: #ea4c89;
        }
      }
    }
  }
}

.process {
  padding: 90px 0;
  .title {
    text-align: center;
    h2 {
      font-size: 32px;
      color: #2F362F;
      font-weight: 500;
      margin-bottom: 15px;
    }
    p.normal {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: #7c8595;
    }
  }
  ul {
    display: flex;
    text-align: center;
    @include screen-sm {
      flex-wrap: wrap;
    }
    li {
      flex: 1 1 25%;
      padding: 15px;
      @include screen-sm {
        flex: 1 1 100%;
      }
    }
  }
  .item {
    margin-top: 60px;
    .thumb {
      position: relative;
      .screen {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, .7);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-size: 15px;
        line-height: 1.5;
        opacity: 0;
        transition: .5s;
      }
      &:hover {
        .screen {
          opacity: 1;
        }
      }
      img {
        border-radius: 50%;
        border: 2px dashed #cecece;
        padding: 10px;
      }
    }
    p {
      margin-top: 20px;
      font-weight: 600;
      color: #454545;
      font-size: 18px;
    }
  }
}

.mail {
  padding: 50px 0;
  background-color: #3498db;
  color: #fff;
  .container {
    display: flex;
    justify-content: space-between;
    @include screen-sm {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

    .thumb {
      width: 200px;
      height: 180px;
      margin: 50px 0 0 80px;
      @include screen-sm {
        margin: 0;
      }
    }
    .description {
      border-left: 1px solid #fff;
      padding: 30px 0 30px 60px;
      @include screen-sm {
        border: none;
        padding: 0;
      }
      h2 {
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 40px;
        font-size: 28px;
      }
      .email {
        width: 400px;
        padding: 20px;
        background-color: transparent;
        border-radius: 7px;
        border: 1px solid #fff;
        margin-bottom: 5px
      }
      .btn {
        width: 140px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 10px;
        background-color: #fff;
        color: #3498db;
        font-size: 14px;
        font-weight: 700;
        margin-top: 30px;
        transition: .5s;
        @include screen-sm {
          margin: 30px auto;
        }
        &:hover {
          background-color: #2980b9;
          color: #fff;
        }
      }
    }
  }
}
.back-top {
  position: fixed;
  right: 50px;
  bottom: -50px;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0, .6);
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .show-header & {
    transition-delay: 1s;
    bottom: 50px;
  }
}