h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.3em;
}
p.normal {
  line-height: 1.5;
  color: #7c8595;
}
#section {
  .main-intro {
    background-color: rgb(52, 152, 219);
    padding: 100px 0;
    .container {
      display: flex;
      justify-content: space-between;
      .intro-title {
        color: #fff;
        p.normal {
          margin: 40px 0;
          color: #fff;
        }
        .more-btn {
          width: 161px;
          text-align: center;
          border: 1px solid #fff;
          border-radius: 5px;
          padding: 10px 30px;
          color: #fff;
        }
      }
      .intro-cover {
        width: 100%;
        @include screen-sm {
          display: none;
        }
      }
    }
  }
  .main-sponsors {
    background-color: #f6f7f8;
    .container {
      .sponsor {
        display: flex;
        height: 151px;
        justify-content: center;
        align-items: center;
        @include screen-sm {
          flex-direction: column;
          height: 100%;
        }
        a {
          display: flex;
          margin: 10px 23px;
          width: 154px;
          height: 70px;
        }
      }
    }
  }

  .main-services {
    padding: 100px 0;
    .container {
      .services-title {
        text-align: center;
        padding-bottom: 15px;
        h1 {
          margin-bottom: 15px;
        }
        p.normal {
          display: inline-block;
          text-align: center;
        }
      }
      .services-contents {
        display: flex;
        @include screen-sm {
          flex-direction: column;
        }
      }
      .services-item {
        text-align: center;
        margin: 30px;
        .services-cover {
          border-radius: 70%;
        }
        h2 {
          margin: 20px 0;
        }
      }
    }
  }

  .main-video {
    background-color: #f6f7f8;
    padding: 100px 0;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include screen-sm {
        flex-direction: column;
      }
      .panel {
        .panel-item {
          border-bottom: 1px solid #FFE8E9EA;
          display: flex;
          align-items: center;
          &.is_active {
            border-bottom: 3px solid #3498db;
          }
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
          i {
            color: #656565;
            font-size: 25px;
          }
          a {
            font-weight: 500;
            color: #656565;
            padding: 20px 20px;
          }
        }
      }
    }
  }

  .main-project {
    background-color: #393f43;
    padding: 100px 0;
    .container {
      .project-title {
        text-align: center;
        color: #fff;
        margin-bottom: 15px;
        h1 {
          margin-bottom: 15px;
        }
        p.normal {
          display: inline-block;
          text-align: center;
        }
      }
      .project-contents {
        display: flex;
        justify-content: center;
        margin-left: -20px;
        margin-top: 40px;
        @include screen-sm {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .project-item {
          text-align: center;
          background-color: #fff;
          border-radius: 5px;
          overflow: hidden;
          margin-left: 20px;
          @include screen-sm {
            margin-top: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .project-link {
            display: flex;
            position: relative;
            &:hover {
              .screen {
                display: flex;
              }
            }
          }
          .screen {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, .6);
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 40px;
            display: none;
          }
          .project-text {
            padding: 10px;
            h2:hover {
              color: #3498db;
            }
            p {
              padding: 10px 0;
              color: #7c8595;
              font-style: italic;
            }
          }
        }
      }
    }
  }

  .main-facts {
    background-color: #2f3539;
    .container {
      .facts-contents {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include screen-sm {
          flex-direction: column;
        }
        .facts-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 30px 0;
          i {
            color: #3498db;
            font-size: 45px;
          }
          strong {
            font-size: 1.8em;
            color: #dedede;
            padding: 10px 0;
          }
          span {
            font-style: italic;
            color: #dedede;
          }
        }
      }
    }
  }

  .main-features {
    background-color: #f6f7f8;
    padding: 100px 0;
    .container {
      .features-title {
        text-align: center;
        h1 {
          margin-bottom: 20px;
        }
        p.normal {
          display: inline-block;
          text-align: center;
          margin-bottom: 30px;
        }
      }
      .features-contents {
        display: flex;
        flex-wrap: wrap;
        .features-item {
          flex: 1 1 33.33333%;
          text-align: center;
          padding: 15px;
          @include screen-sm {
            flex: 1 1 100%;
          }
          h2 {
            margin: 15px 0;
          }
        }
      }
    }
  }

  .main-clients {
    background-color: #3498db;
    padding: 100px 0;
    .container {
      .clients-title {
        color: #fff;
        text-align: center;
        h1 {
          margin-bottom: 20px;
        }
        p.normal {
          display: inline-block;
          text-align: center;
          margin-bottom: 20px;
          color: #fff;
        }
      }
      .clients-contents {
        display: flex;
        margin-left: -20px;
        @include screen-sm {
          flex-direction: column;
        }
        .clients-item {
          margin-left: 20px;
          flex: 1 1 33.3333%;
          @include screen-sm {
            flex: 1 1 100%;
          }
          .text-box {
            background-color: #fff;
            margin: 30px 0;
            border-radius: 5px;
            &.speech-bubble {
              position: relative;
              background: #ffffff;
              border-radius: .4em;
              &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 10%;
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-top-color: #ffffff;
                border-bottom: 0;
                margin-left: -20px;
                margin-bottom: -10px;
              }
            }
            p.normal {
              padding: 20px;
            }
          }
          .client-profile {
            display: flex;
            align-items: center;
            img {
              border-radius: 70%;
              border: 5px solid #fff;
            }
            p {
              margin-left: 20px;
              line-height: 25px;
              color: #fff;
              strong {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  .main-news {
    padding: 100px 0;
    color: #454545;
    .container {
      .news-title {
        text-align: center;
        margin-bottom: 60px;
        p {
          display: inline-block;
          text-align: center;
          margin: 20px 0;
        }
      }
      .news-contents {
        display: flex;
        margin-left: -20px;
        @include screen-sm {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .news-item {
          flex: 1 1 33.3333%;
          margin-left: 20px;
          background-color: #f6f7f8;
          border-radius: 5px;
          overflow: hidden;
          @include screen-sm {
            margin-top: 20px;
          }
          .news-link {
            display: flex;
            position: relative;
            &:hover {
              .screen {
                display: flex;
              }
            }
          }
          .screen {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, .6);
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 40px;
            display: none;
          }
          .news-desc {
            padding: 20px;
            h2 {
              color: #454545;
              font-weight: 600;
              margin-bottom: 20px;
              &:hover {
                color: #0088cc;
              }
            }
            .news-icon {
              display: flex;
              color: #858585;
              font-style: italic;
              a {
                color: #858585;
                &:hover {
                  color: #0088cc;
                }
              }
              .bar {
                width: 1px;
                height: 17px;
                background-color: #858585;
                margin: 0 13px;
              }
            }
            p.normal {
              margin: 20px 0;
            }
          }
        }
      }
    }
  }

  .main-team {
    background-color: #393f43;
    padding: 100px 0;
    .container {
      .team-title {
        text-align: center;
        margin-bottom: 60px;
        color: #ddd;
        p {
          display: inline-block;
          text-align: center;
          margin: 20px 0;
          color: #ddd;
        }
      }
      .team-profile {
        color: #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -40px;
        @include screen-sm {
          flex-direction: column;
        }
        .team-item {
          flex: 1 1 33.3333%;
          text-align: center;
          margin-right: 40px;
          img {
            border-radius: 70%;
            border: 5px solid #ddd;
          }
          .name {
            text-align: center;
            padding: 20px 0;
            h2 {
              margin-bottom: 10px;
              font-weight: 600;
            }
            p {
              font-style: italic;
            }
            .bar {
              width: 60px;
              height: 3px;
              background: #08c;
              display: inline-block;
              margin-top: 20px;
            }
          }
          p.normal {
            color: #ddd;
          }
          .sns-icon {
            display: flex;
            justify-content: center;
            margin: 20px 0 0 6px;
            @include screen-sm {
              padding-bottom: 30px;
            }
            .icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 34px;
              height: 34px;
              border-radius: 70%;
              color: #fff;
              margin-right: 6px;
              &.twitter {
                background-color: #4099ff;
              }
              &.pinterest {
                background-color: #C92228;
              }
              &.facebook {
                background-color: #3b5998;
              }
              &.dribbble {
                background-color: #d720d3;
              }
            }
          }
        }
      }
    }
  }

  .main-process {
    padding: 100px 0;
    .process-title {
      text-align: center;
      h1 {
      }
      p.normal {
        display: inline-block;
        text-align: center;
        margin: 30px 0 50px 0;
      }
    }
    .process-contents {
      display: flex;
      @include screen-sm {
        flex-direction: column;
      }
      .process-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 25%;
        @include screen-sm {
          margin-top: 40px;
        }
        .process-thumb {
          display: flex;
          position: relative;
          &:hover {
            .screen {
              display: flex;
            }
          }
          .screen {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, .6);
            align-items: center;
            justify-content: center;
            color: #000;
            font-size: 15px;
            line-height: 1.5;
            display: none;
          }
          img {
            border-radius: 70%;
            border: 7px dotted #dddddd;
            padding: 15px;
          }
        }
        span {
          margin-top: 20px;
          font-weight: 600;
        }
      }
    }
  }

  .main-mail {
    padding: 50px 0;
    background-color: #3498db;
    color: #fff;
    .container {
      .mail-contents {
        display: flex;
        @include screen-sm {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .mail-cover {
          img {
            margin: 0 70px 0 50px;
            @include screen-sm {
              margin: 0;
            }
          }
        }
        .mail-desc {
          border-left: 1px solid #fff;
          padding: 1px 0 30px 60px;
          @include screen-sm {
            border: none;
            text-align: center;
            margin-top: 100px;
            padding-left: 15px;
          }
          h1 {
            line-height: 1.5;
            margin-bottom: 40px;
          }
          .email {
            width: 400px;
            padding: 20px;
            background-color: #3498db;
            border-radius: 7px;
            border: 1px solid #fff;
            margin-bottom: 10px;
          }
          .check {
            display: flex;
            @include screen-sm {
                display: block
            }
            span {
              align-items: center;
              justify-content: center;
            }
            .checkbox {
              margin: 0 5px;
            }
          }
          .email-submit {
            margin-top: 30px;
            border-radius: 7px;
            padding: 20px;
            background-color: #fff;
            color: #3498db;
            &:hover {
              background-color: #2980b9;
              color: #fff;
            }
          }
          .btn-text {
            display: block;
            margin-top: 10px;
          }
        }
      }
    }
  }
}